h1{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

body{
    background-color: rgb(187, 168, 231);
    display: flex;
    height: 95vh;
}

p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#counter{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button{
    color: white;
    background-color:purple;
    border-radius: 50%;
}

.content{
    width: 50%;
    margin: auto;
    padding: 10px;
    padding-bottom: 25px;
    border-radius: 10px;
    background-color: white;
}